mixin button(options = {}) 
  - 
    const {
      btnType = 'button',
      type = 'button',
      isArrow = false,
      btnColor = 'white',
      btnWrapperColor = 'violet',
      btnSize = 'small',
      href = 'error-page.html',
      content = '',
      isHovered = false,
      isBordered = true,
      isGrey = false,
    } = options 

    const colorBtn = {
      white: 'white',
      violet: 'violet',
      transparent: 'transparent',
    } 

    const sizeBtn = {
      tiny: 'tiny',
      small: 'small',
      medium: 'medium',
      big: 'big',
      large: 'large'
    }

    const contentClass = isGrey ? 'button__content button__content_gray' : 'button__content'

  .button(class = {
    button_hovered: isHovered,
    button_transparent: !isBordered
  })
    - if(btnType === 'button')
      button(
        class = `button__normal-button button__normal-button_color_${colorBtn[btnColor]} button__normal-button_size_${sizeBtn[btnSize]}`
        type = type
        )
          span(class = contentClass)= content
          - if (isArrow) 
            .button__icon
    - if(btnType === 'link')
      a(
        class = `button__link button__link button__link_color_${colorBtn[btnColor]} button__link_size_${sizeBtn[btnSize]}`
        href = href
        )
          span(class = contentClass)= content
          - if (isArrow) 
            .button__icon

