mixin button(options = {}) 
  - 
    const {
      classWrapper = '',
      classBtn = '',
      btnType = 'button',
      type = 'submit',
      btnMod = [],
      btnColor = '',
      btnWrapperColor = 'violet',
      btnSize = 'small',
      href = '#'
    } = options 

    const colorBtn = {
      white: 'button_white',
      violet: 'button_violet',
    }

    const wrapperColor = {
      transparent: 'btn-wrapper_transparent',
      violet: 'btn-wrapper_violet',
    }

    const sizeBtn = {
      tiny: 'button_tiny',
      small: 'button_small',
      medium: 'button_medium',
      large: 'button_large'
    }


    const modificators = {
      arrow: 'button_arrow',
      noBorder: 'button_no-border'
    }
    const mod = btnMod === '' ? '' : modificators[btnMod]

  .btn-wrapper(
    class = `${classWrapper} ${wrapperColor[btnWrapperColor]}`
   )
    - if(btnType === 'button')
     button(
       class = `button ${colorBtn[btnColor]} ${mod} ${sizeBtn[btnSize]}`
       type = type
      )
       span.button__content= options.content
    - if(btnType === 'link')
     a(
       class = `button button_link ${colorBtn[btnColor]} ${mod} ${sizeBtn[btnSize]}`
       href = href
      )
       span.button__content= options.content


