mixin button(options = {}) 
  - 
    const {
      btnType = 'button',
      type = 'submit',
      btnMod = [],
      arrow = false,
      btnColor = '',
      btnWrapperColor = 'violet',
      btnSize = 'small',
      href = 'error-page.html',
      content = ''
    } = options 

    const colorBtn = {
      white: 'button_white',
      violet: 'button_violet',
    } 

    const wrapperColor = {
      transparent: 'button_transparent',
      violet: 'button_violet',
    }

    const sizeBtn = {
      tiny: 'button_tiny',
      small: 'button_small',
      medium: 'button_medium',
      big: 'button_big',
      large: 'button_large'
    }


    const modificators = {
      noBorder: 'button_no-border'
    }

    let mod = ''
    if(btnMod.length > 0) {
      mod += modificators[btnMod]
    }


  .button(
    class = `${wrapperColor[btnWrapperColor]}`
   )
    - if(btnType === 'button')
     button.button__button(
       class = `${colorBtn[btnColor]} ${sizeBtn[btnSize]} ${mod}`
       type = type
      )
       span.button__content= content
     - if (arrow) 
       .button_arrow.icon__arrow_forward
    - if(btnType === 'link')
     a.button__button(
       class = `button_link ${colorBtn[btnColor]} ${sizeBtn[btnSize]} ${mod}`
       href = href
      )
       span.button__content= content


