mixin button(options = {}) 
  - 
    const {
      btnType = 'button',
      type = 'submit',
      isArrow = false,
      btnColor = 'white',
      btnWrapperColor = 'violet',
      btnSize = 'small',
      href = 'error-page.html',
      content = '',
      isHovered = false
    } = options 

    const colorBtn = {
      white: 'white',
      violet: 'violet',
    } 

    const wrapperColor = {
      transparent: 'button_transparent',
      violet: 'button_violet',
    }

    const sizeBtn = {
      tiny: 'tiny',
      small: 'small',
      medium: 'medium',
      big: 'big',
      large: 'large'
    }

    const hoverClass = isHovered ? 'button_hovered' : ''

  .button(
    class = `${wrapperColor[btnWrapperColor]} ${hoverClass}`
  )
    - if(btnType === 'button')
      button(
        class = `button__button button__button_${colorBtn[btnColor]} button__button_${sizeBtn[btnSize]}`
        type = type
        )
          span.button__content= content
      - if (isArrow) 
        .button__icon
    - if(btnType === 'link')
      a(
        class = `button__button button__button_link button__button_${colorBtn[btnColor]} button__button_${sizeBtn[btnSize]}`
        href = href
        )
          span.button__content= content


