mixin navItem(options = {}) 
  - 
    const {
      classLi = '',
      href = 'error-page.html',
      classLink = '',
      content = '',
      linkActive = ''
    } = options 

    const isActive = linkActive === 'true' ? 'nav__link_active' : `${linkActive}` 

  li(
    class = classLi
  )
   a(
      href = href
      class = `${classLink} ${isActive}`
    )= content
   if options.subItems !== ''
    +navSub(options.subItems)


mixin navSub(items = [])
  ul.nav__sublist
    each item in items
      +navItem({
        content: item.content,
        classLink: 'nav__sublink',
        href: item.href}) 

mixin navList(options = {}) 
  - 
    const {
      items = [], 
      mod = 'horizontal',
    } = options

  ul(class = `nav__items nav__items_${mod}`)
    each item in items
      -
        const subItems = item.subItems ? item.subItems : ''
        const {
          content = '',
          href = 'error-page.html',
          classLi = subItems === '' ? 'nav__item' : 'nav__item nav__subitem',
          classLink = subItems === '' ? 'nav__link' : 'nav__link nav__link_sub  icon__expand_more',
          linkActive = ''
        } = item
      +navItem({
        content: content,
        classLink: classLink,
        classLi: classLi,
        href: href,
        isActive: isActive,
        linkActive: linkActive,
        subItems
        })
       

mixin nav(options = {})
  - 
    const {
    classNav = '',
    navigation = {}
    } = options
  
  nav(
    class = `nav ${classNav}`
    )
      +navList(navigation)
    



