mixin title(options = {})
  - 
    const {
      level = 'h2',
      text = '',
    } = options 

  - if(options.level === 'h1')
  h1.title= text
  - if(level === 'h2')
  h2.title.title_h2= text
  - if(level === 'h3')
  h3.title.title_h3= text
  - if(level === 'h4')
  h4.title.title_h4= text
    - if(level === 'h5')
  h5.title.title_h5= text