mixin logo(options = {})
  - 
    const {
      href = "error-page.html",
      src = "logo.svg",
      width = 106,
      height = 40
    } = options 

  a(
      class="logo"
      href = href
  )
    img(src=require(`@blocks/logo/img/${src}`) alt="Логотип Toxin" width=width height=height)