mixin range-slider(options = {})
  - 
    const {
      rangeClass = '',
      rangeOptions = {},
      name = 'Range slider',
      min = rangeOptions.min ? rangeOptions.min : 0,
      max = rangeOptions.max ? rangeOptions.max : 15000,
      step = rangeOptions.step ? rangeOptions.step : 100,
      description = ''
     } = options

  div(
    class = `range-slider _js-range-slider ${rangeClass}` 
    data-rangeOptions = rangeOptions
  )
    .range-slider__fields
      span.range-slider__name= name
      input(
        type="text"
        name="range-slider-value"
        class="range-slider__amount"
        readonly
      )
    .range-slider__slider 
      .range-slider__track
      .range-slider__progress
      input(
        type = 'range'
        class = 'range-slider__input range-slider__input_min',
        min = min
        max = max
        step = step
      )
      input(
        type = 'range'
        class = 'range-slider__input range-slider__input_max',
        min = min
        max = max
        step = step
      )
    p.range-slider__description= description 
          
         
        
    
   
    
    