mixin range-slider(options = {})
  - 
    const {
      rangeClass = '',
      rangeOptions = {},
      name = 'Range slider',
      min = 0,
      max = 15000,
      step = rangeOptions.step ? rangeOptions.step : '100',
     } = options

  div(
    class = `range-slider _js-range-slider ${rangeClass}` 
    data-rangeOptions = rangeOptions
  )
    .range-slider__fields
      .range-slider__name= name
        input(
          type="text"
          name="range-slider-min"
          class="range-slider__amount_min range-slider__amount"
          readonly
        )
        input(
          type="text"
          name="range-slider-max"
          class="range-slider__amount_max range-slider__amount"
          readonly
        )
      .range-slider__slider 
        .range-slider__track
        .range-slider__progress
        input(
          type = 'range'
          class = 'range-slider__input range-slider__input_min',
          min = min
          max = max
          step = step
        )
        input(
          type = 'range'
          class = 'range-slider__input range-slider__input_max',
          min = min
          max = max
          step = step
        )
          
         
        
    
   
    
    