mixin range-slider(options = {})
  - 
    const {
      rangeOptions = {},
      name = 'Range slider',
      min = rangeOptions.min ? rangeOptions.min : 0,
      max = rangeOptions.max ? rangeOptions.max : 15000,
      step = rangeOptions.step ? rangeOptions.step : 1,
      description = '',
     } = options

  div(
    class = "range-slider js-range-slider"
    data-rangeOptions = rangeOptions
  )
    .range-slider__fields
      span.range-slider__name= name
      output(
        type="text"
        name= "range-slider-value"
        class= "range-slider__amount js-range-slider__amount"
        readonly
        tabindex = "1"
      )
    .range-slider__slider 
      .range-slider__track
      .range-slider__progress.js-range-slider__progress
      .range-slider__toggle.range-slider__toggle_min.js-range-slider__toggle(tabindex = '0') 
      .range-slider__toggle.range-slider__toggle_max.js-range-slider__toggle(tabindex = '0')
    p.range-slider__description= description 
          
         
        
    
   
    
    