mixin form(options = {})
  form(
    class=`${options.classForm} form`
    action="#" 
    method="get"  
    )
      block

mixin form-group(options = {})
  -
    const {
      classGroup = '',
      gridColumn = '1',
      datepick = 'false'
    } = options 

    const gridCol = {
     1: 'form__group_grid',
     2: 'form__group_grid-2',
    }

  div(class = `form__group ${classGroup} ${gridCol[gridColumn]} ${datepick ? 'form__group_datepick' : ''}`)
    block

mixin label(options = {})
  - 
    const {
      id = '',
      classLabel = '',
      text = ''
    } = options

  label.form__label(
    id = id
    for = id
    classLabel = classLabel
  )=text
