mixin form(options = {})
  form(
    class=`${options.classForm} form`
    action="#" 
    method="get"  
    )
      block

mixin form-group(options = {})
  -
    const {
      classGroup = '',
      datepick = false
    } = options 

  div(class = `form__group ${classGroup} ${datepick ? 'form__group_datepick' : ''}`)
    block

mixin label(options = {})
  - 
    const {
      id = '',
      forInput = '',
      classLabel = '',
      text = ''
    } = options
      

  label(
    id = id
    for = forInput
    class = `form__label ${classLabel}`
  )=text
