mixin form(options = {})
  if options.modificators
    form(
      class=`${options.classForm} form form${options.modificators}`
      action="#" 
      method="get")
        block
  else 
    form(
      class=`${options.classForm} form`
      action="#" 
      method="get"
      )
        block

mixin form-group(options = {})
  if options.modificators
    div(class = `form__group form__group${options.modificators}`)
      block
  else 
    .form__group
      block
  
    
mixin label(options = {})
  label(
    for = options.id
    class = options.classLabel
  )=options.text

mixin form-title(options = {})
  if options.modificators
    h2(
      class=`${options.classTitle} ${options.classTitle}${options.modificators}`
      )= options.text
  else 
    h2(
      class=`${options.classTitle}`
      )= options.text
